body{
  font-family: Arial;
  background: linear-gradient(135deg, #f3c8e9, #d8b5e8, #b9c9ed);
  margin:0;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin: 10px 0 -45px;
    position: relative;
    z-index: 2;
}

.logo-container img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    background: #54227d;
    border-radius: 50%;
    padding: 12px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.container{
  width:90%;
  max-width:900px;
  margin:20px auto;
  background:rgba(255,255,255,0.92);
  padding:65px 20px 20px;
  border-radius:20px;
  box-shadow:0 8px 25px rgba(0,0,0,0.15);
}

input,
select,
textarea,
button{
  width:100%;
  padding:12px;
  margin-top:10px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:16px;
}

textarea{
  min-height:100px;
  resize:none;
}

button{
  background:#d48bff;
  color:white;
  border:none;
  cursor:pointer;
}

button:hover{
  background:#2980b9;
}

.card{
  border:1px solid #ddd;
  padding:15px;
  margin:15px 0;
  border-radius:10px;
  background:white;
  box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

.verde{
  background:#e792ff;
  color:white;
  padding:5px 10px;
  border-radius:6px;
}

.amarelo{
  background:#bb0ad2;
  padding:5px 10px;
  border-radius:6px;
}

.vermelho{
  background:#b22eb6;
  color:white;
  padding:5px 10px;
  border-radius:6px;
}
